<a routerLink="myreg">myreg</a>
<router-outlet></router-outlet>
<a routerLink="trackcomp">trackcomp</a>
<router-outlet></router-outlet>
<a routerLink="about-us">about-us</a>
<router-outlet></router-outlet>

<a routerLink="gallery page">gallery page</a>
<router-outlet></router-outlet>

<a routerLink="Contact Us">Contact</a>
<router-outlet></router-outlet>
<a routerLink="login">login</a>
<router-outlet></router-outlet>

<a routerLink="Gallery">Gallery</a>
<router-outlet></router-outlet>


<a routerLink="About all Departments">About all Departments</a>
<router-outlet></router-outlet>


<a routerLink="Home">Home</a>
<router-outlet></router-outlet>

<a routerLink="About US">About US</a>
<router-outlet></router-outlet>
<a routerLink="Staffhomepage">Staffhomepage</a>
<router-outlet></router-outlet>
<a routerLink="AboutDepartment">About Department</a>
<router-outlet></router-outlet>
<a routerLink="Departmenttoppers">Department toppers</a>
<router-outlet></router-outlet>
<a routerLink="Attendance Entry">Attendance Entry</a>
<router-outlet></router-outlet>
<a routerLink="Marks Entry">Marks Entry</a>
<router-outlet></router-outlet>

<a routerLink="StudenthomePage">StudenthomePage</a>
<router-outlet></router-outlet>

<a routerLink="Admin Page">Admin Page</a>
<router-outlet></router-outlet>